body {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 16px;
}

.showcase {
  background: url("https://images.unsplash.com/photo-1627719172038-611c725920bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzJ8fGxhcHRvcCUyMG5ld3N8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60")
    no-repeat center/cover;
  height: 400px;
  margin-bottom: 2rem;
}

.showcase .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1.6px;
}

/* @media screen and (max-width: 400px) {
  input .search-bar {
    width: 100%;
  }
} */
